<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
<system>
    <tab id="redati" translate="label" sortOrder="700"  class="mestre-magento-tab">
        <label>Redati</label>
    </tab>
    <section id="redati_screet" translate="label" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
        <class>separator-top</class>
        <label>Image Iscreet</label>
        <tab>redati</tab>
        <resource>Redati_MagentoScreetImage::config</resource>
        <group id="geral" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>General</label>
            <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Enable</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
            </field>

        </group>
    </section>
</system>
</config>
